<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Serve</title>
  </head>
  <body>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title has-text-centered">
                Serve
            </p>
        </div>
    </section>
    <br>
    <div class="title has-text-centered">
        Cart
    </div>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://lh3.googleusercontent.com/proxy/s54FHl8Maz6B53NBk_L_XBTpmSf5SV62P2udwmHdOvScXAVXX-mtQp3y4Hk_d28sRyUmCYeoW-1c_4M8-zdJKHv2yDvCA5SyIA" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Hamburger</strong>
                        <br>
                        <p>$2.99</p>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
        </div>
      </div>

  </body>
</html>