<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Serve</title>
  </head>
  <body>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title has-text-centered">
                Serve
            </p>
        </div>
    </section>
    <br>
    <div class="title has-text-centered">
        Home
    </div>
    <div class="subtitle has-text-centered">
        Where would you like to eat?
    </div>

    <div class="columns is-multiline is-mobile is-centered">
        <div class="column is-half">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Restaurant</strong>
                        <br>
                        99 42nd St. New York, NY
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>
        <div class="column is-half">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Restaurant</strong>
                        <br>
                        99 42nd St. New York, NY
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>
        <div class="column is-half">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Restaurant</strong>
                        <br>
                        99 42nd St. New York, NY
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>
        <div class="column is-half">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Restaurant</strong>
                        <br>
                        99 42nd St. New York, NY
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>
    </div>

  </body>
</html>